<div class="navbar">
  <div class="navbar-inner">
    <div class="left sliding"></div>
    <div class="center sliding">Nearby Trails</div>
    <div class="right"><a href="#" class="link icon-only open-panel"><img src="assets/SlideMenu@2x.png" style="width: 52px;height:100%;"></a></div>
  </div>
</div>
<div class="pages">
  <div data-page="maps" class="page">

             <form class="searchbar">
        <div class="searchbar-input">
            <input list="trailsAuto" id="searchbar" type="search" placeholder="Search e.g. Mount Gardner, Garibaldi Lake"  style="border-radius:50px;">
           <!--Autocomplete-->
            <datalist class="dd" id="trailsAuto">

  </datalist>
            
            <a href="#" class="searchbar-clear"></a>
        </div>
        <a href="#" class="searchbar-cancel">Cancel</a>
    </form>
      
      <div class="page-content"  style="padding-top: 69px !important;"
>
      <div class="content-block">
        <div class="content-block-inner" id="map-canvas">
        

            
            <div id ="map-canvas">
        </div>
      </div>
    </div>
  </div>
</div>